/Batalla.class
/ControladorTurno$1.class
/ControladorTurno.class
/Entrenador.class
/EntrenadorHumano.class
/EntrenadorMaquina.class
/ExceptionPOOBkemon.class
/Item.class
/Juego.class
/ModoJuego.class
/Movimiento.class
/Normal.class
/POOBkemonLog.class
/Pocion$1.class
/Pocion.class
/Pokemon.class
/PokemonPersistencia.class
/Supervivencia.class
/TipoEfectividad.class
/attackingTrainer.class
/changingTrainer.class
/defensiveTrainer.class
/expertTrainer.class
